.show-finder {
    height: 100vh;
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
    font-size: 100px;
    display: flex;
}
// .show-finder__create-pin{
//     height: 110px;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 20px;
//     box-sizing: border-box;
//     padding: 30px;
//     border-width: 0 0 1px 0;
//     border-style: solid;
//     border-color: hsl(0, 0%, 40%);
// }
// .show-finder__create-pin:hover{
//     background: hsl(156, 100%, 50%);
// }
// .show-finder__create-pin::after{
//     content: "";
//     mask: url("../assets/add_black_24dp.svg") no-repeat center;
//     background: white;
//     mask-size: 30px 30px;
//     height: 30px;
//     width: 30px;
//     margin-left: auto;
// }
.show-finder__map {
    height: 100%;
    flex: 1;
    background: hsl(0, 0%, 23%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-finder__column {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    
}
.show-finder__pins {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    background:hsl(0, 0%, 15%);

}
.show-finder__pins:empty{
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.show-finder__pins:empty::before{
    content: "";
    height: 100px; 
    width: 100px;
    mask: url("../assets/map_black_24dp.svg") no-repeat center;
    mask-size: 100px 100px;
    background: hsl(0, 0%, 30%);
    margin-bottom: 15px;
}
.show-finder__pins:empty::after{
    font-size: 14px;
    text-align: center;
    width: 100px;
    color: hsl(0, 0%, 50%);
    content: "No locations to display";
    
}
.show-finder__pin {
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    // border-width: 0 0 1px 0;
    // border-style: solid;
    // border-color: hsl(0, 0%, 30%);
    background: hsl(0, 0%, 15%);
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.show-finder__pin:hover {

    background: hsl(0, 0%, 10%);
    
    // .show-finder__delete-pin{
    //     color: hsla(336, 100%, 70%, 1);
    //     background: hsla(336, 100%, 70%, 0.2);
    // }
    // .show-finder__edit-pin{
    //     color: hsl(156, 100%, 70%);
    //     background: hsla(156, 100%, 70%, .2);
    // }
    .show-finder__delete-pin:hover{
        color: hsla(336, 100%, 50%, 1);
        background: hsla(336, 100%, 70%, 0.1);
    }
    .show-finder__edit-pin:hover{
        color: hsl(156, 100%, 50%);
        background: hsla(156, 100%, 70%, .1);
    }
}
.show-finder__pin-header {
    width: 100%;
    height: 30px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.show-finder__pin-header::after {
    height: 30px;
    width: 30px;
    content: "";
    background: white;
    mask: url("../assets/push_pin_black_24dp.svg") no-repeat center;
    mask-size: 25px 25px;
    margin-left: auto;
}
.show-finder__pin-location {
    font-size: 15px;
    color: hsl(0, 0%, 70%);
    margin-bottom: 15px;
}
.show-finder__pin div:last-child {
    margin-bottom: 0;
}
.show-finder__pin-radius {
    font-size: 15px;
    font-weight: 700;
}
.show-finder__pin-controls {
    font-size: 15px;
    height: fit-content;
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.show-finder__edit-pin {
    height: 50px;
    width: fit-content;
    padding: 0 30px;
    color: hsl(156, 100%, 60%);
    background: hsla(156, 100%, 50%, .2);
    margin-right: 15px;
    // border-width: 3px;
    // border-style: solid;
    // border-color: hsl(156, 100%, 50%);
    display: flex;
    align-items: center;
    border-radius: 25px;
}
.show-finder__delete-pin {
    height: 50px;
    width: fit-content;
    padding: 0 30px;
    color: hsla(336, 100%, 50%, 1);
    background: hsla(336, 100%, 50%, 0.2);
    margin-right: 15px;
    // border-width: 3px;
    // border-style: solid;
    // border-color: hsl(0, 100%, 70%);
    display: flex;
    align-items: center;
    border-radius: 25px;
}
