.map-marker{
    height: 15px;
    width: 15px;
    background: hsl(156, 100%, 50%); 
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    div{
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        background: white;
    }
    div:nth-child(1){

        animation-delay: 0s;
        animation: sonar-effect 2s ease-in-out infinite;
    }
    div:nth-child(2){
        // background: hsl(156, 100%, 50%);
        animation-delay: 1s;
        animation: sonar-effect 2s infinite;
    }
}

@keyframes sonar-effect {
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;
      box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 5px #fff;
    }
    100% {
      box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 5px #fff;
      transform: scale(2.0);
      opacity: 0;
    }
  }

@keyframes fade{

}
