*{
  margin: 0px;
  padding: 0px;
  outline: none;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Monoton', cursive;
  font-family: 'Monoton', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */
}
